{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"es6": true,
		"node": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		"ecmaFeatures": {
			"jsx": true,
			"impliedStrict": true
		},
		"tsconfigRootDir": "./",
		"project": [
			"./tsconfig.json"
		]
	},
	"globals": {
		"require": true,
		"setTimeout": true,
		"clearTimeout": true,
		"console": true,
		"output": "readonly"
	},
	"ignorePatterns": [
		"!.eslintrc"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"plugins": [
		"react-native",
		"unused-imports"
	],
	"rules": {
		"no-empty": 1,
		"react-native/no-raw-text": 0,
		"@typescript-eslint/semi": 0,
		"@typescript-eslint/indent": 0,
		"@typescript-eslint/comma-dangle": 0,
		"import/prefer-default-export": 0,
		"react/function-component-definition": 0,
		"react/jsx-indent": 0,
		"react/jsx-indent-props": 0,
		"react/jsx-newline": [
			"error"
		],
		"consistent-return": 0,
		"import/no-cycle": 0,
		"global-require": 0,
		"@typescript-eslint/no-implied-eval": 0,
		"react/prefer-read-only-props": 0,
		"react/prop-types": 0,
		"no-prototype-builtins": 0,
		"react/jsx-closing-bracket-location": [
			1,
			"tag-aligned"
		],
		"react-hooks/exhaustive-deps": 0,
		"no-confusing-arrow": "off",
		"indent": [
			"off"
		],
		"@typescript-eslint/no-empty-function": [
			"off"
		],
		"@typescript-eslint/no-unused-vars": [
			"warn"
		],
		"arrow-body-style": "off",
		"prefer-arrow-callback": "off",
		"default-param-last": "off",
		"padding-line-between-statements": [
			"error",
			{
				"blankLine": "always",
				"prev": [
					"expression",
					"const",
					"let"
				],
				"next": [
					"*"
				]
			}
		],
		"@typescript-eslint/default-param-last": [
			"off"
		],
		"@typescript-eslint/ban-types": "off",
		"no-empty-pattern": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-var-requires": "off",
		"react/display-name": "off",
	}
}